@media screen and (max-width: 500px){
header .container{
display: flex;
flex-direction: column;
}
.botao {
    margin-top: 5px;
    width: 210px;
    height: 40px;
}
}

@media screen and (min-width: 1000px){
    .descricao{
        width: 70%;
    }
}